<div class="row">       
	<div class="col-sm-4 col-md-3 sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<a>
					<span>Show inactives</span>
					<span class="pull-right">
						<btn-switch onswitch="ctrl.switchShowDisabled()" 
										title="Show inactives" options="{'size':'xs'}"
										value="ctrl.showDisabled">
						</btn-switch>
					</span>
				</a>
			</li>
			<li ng-repeat="session in ctrl.sessions | filtersession:ctrl.showDisabled" class="{{session.new?'animated flipInX infinite':''}} {{session.open?'':'disabled'}}" 
				 ng-click="session.new = false" title="{{session.id}}">
				<a>
					<b>{{session| sessioninfo}}</b>
					<span class="pull-right">
						<btn-switch onswitch="ctrl.switchMonitor(session.id)" 
										title="Monitor client on/off" disabled="!session.open" options="{'size':'xs'}"
										value="(ctrl.monitored === session.id) && session.open">
						</btn-switch>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
		<form class="form-inline">
			<a>Requests <span class="badge">{{ctrl.requests.length}}</span></a>
			<input type="text" class="form-control" placeholder="Filter" ng-model="ctrl.filterInput">
			<btn-switch options="{'size':'sm'}" title="Show only errors and delays"
							value="ctrl.showOnlyWarning" 
							onswitch="ctrl.showOnlyWarning=!ctrl.showOnlyWarning">
			</btn-switch>
			<div class="input-group">
				<input type="number" class="form-control" ng-model="ctrl.triggerDelay">
				<div class="input-group-addon">ms</div>
			</div>
			<a class="btn btn-danger" ng-click="ctrl.requests = []">
				<i class="fa fa-trash"></i>
			</a>
 		</form>
		<div class="row">
			<div class="col-md-6 list-spyed-container">
				<div class="list-group">
					
					<button type="button" ng-click="ctrl.selectRequest(request)" 
							  ng-repeat="request in ctrl.requests | filterrequest:ctrl.filterInput:ctrl.triggerDelay:ctrl.showOnlyWarning" 
							  class="list-group-item {{(request.mtc.type==='FAULT')?'list-group-item-danger':(request.t&gt;ctrl.triggerDelay)?'list-group-item-warning':''}}">
						<span class="badge">{{request.t}} ms</span>
						{{request.mfc.ds| instance}}.{{request.mfc.op}}({{ request.mfc.args | arrjson }})
					</button>
				</div>
			</div>
			<ui-codemirror class="col-md-6 CodeMirror" ng-model="ctrl.request"
								ui-codemirror-opts="{lines: 70, theme: 'monokai', lineWrapping: false, readOnly: 'nocursor', mode: 'javascript'}">
			</ui-codemirror>
		</div>
	</div>
</div>
