language: java
jdk: oraclejdk7
install: mvn install -DskipTests=true -Dgpg.skip=true
deploy: mvn deploy --settings .travis-oss-settings.xml
branches:
  only:
    - master
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "OyBUeyJrxqKjWQD09Ez4MC2B7ccRiK2yXClwMIGhOAun76b0Iu6JqCTkBc0uDZBMU6pR22FURtaL4nzzlIh8IKKB3hmATsh5DLsxmWIagL9wTg1CJQGIAdh7Jegw6R3ynMO4Mf6oC1mvVKW1n7ITQ/YfFZaMZFz76VjJh9YEsjY="

addons:
  coverity_scan:
    project:
      name: "hhdevelopment/ocelot"
    notification_email: francois.achache@gmail.com
    build_command_prepend: "mvn clean"
    build_command:   "mvn -DskipTests=true compile"
    branch_pattern: coverity

after_success:
  - mvn clean cobertura:cobertura coveralls:report

