<configuration>
	<jmxConfigurator />
	<insertFromJNDI env-entry-name="java:comp/env/appName" as="appName" />
	<contextName>${appName}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONTEXT_NAME} %-1level %logger{24} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fr.hhdev" level="all"/>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>